<a href="https://colab.research.google.com/github/krauseannelize/nb-sql-ms-exercises/blob/main/02_practice_british_airways.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 02 | Practice - British Airways

## Data Preparation

### Installing and importing packages

In [12]:
import pandas as pd
import sqlalchemy as sa

### Making a connection

In [13]:
ba_url = "postgresql://Student1:3qHbUNF6KCDP@ep-noisy-flower-846766.us-east-2.aws.neon.tech/BA?sslmode=require"

# Making a connection with SQLAlchemy in 2 steps:
# 1. Create an engine
# 2. Make a connection

engine = sa.create_engine(ba_url)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

## Database Schema

The British Airways database schema is as follows:

![db-schema-ba-excerpt.png]()

## Masterschool Exercises

### What are the 10 shortest flights by distance flown?

In [14]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
	flight_number
  , departure_city
  , arrival_city
  , total_passengers
  , distance_flown
FROM
	ba_flights_excerpt
WHERE
	distance_flown != 0
ORDER BY
 distance_flown
LIMIT 10
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

  flight_number departure_city arrival_city  total_passengers  distance_flown
0         BA907     Oranjestad   Kralendijk                 0             193
1        BA1787        Norwich       London                36             239
2         BA893          Quito    Guayaquil                 0             282
3         BA721         Kigali      Kampala                 0             339
4         BA499         Riyadh       Dammam                 0             352
5        BA1753     Humberside       London                56             370
6        BA1752         London   Humberside                50             370
7        BA1762         London   Humberside                62             370
8        BA1444          Paris       London               170             398
9        BA2349         London        Basel                81             560

### Find the flight numbers, flight date, arrival_city and total passengers for all the cancelled flights

In [15]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
	flight_number
  , actual_flight_date AS flight_date
  , arrival_city
  , total_passengers
  , status
FROM
	ba_flights_excerpt
WHERE
	status = 'Cancelled'
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

   flight_number flight_date arrival_city  total_passengers     status
0          BA545  2023-04-05     Tel Aviv               101  Cancelled
1         BA1700  2023-04-05     Aberdeen                23  Cancelled
2         BA1707  2023-04-05     Aberdeen                85  Cancelled
3         BA1712  2023-04-05     Aberdeen                84  Cancelled
4         BA1722  2023-04-05       Nantes                90  Cancelled
5         BA1729  2023-04-05       Aarhus                46  Cancelled
6         BA1377  2023-04-05     Helsinki               148  Cancelled
7         BA1382  2023-04-05     Helsinki               107  Cancelled
8         BA1387  2023-04-05    Trondheim                88  Cancelled
9         BA1394  2023-04-05    Linkoping                68  Cancelled
10        BA1398  2023-04-05       Bergen                87  Cancelled
11        BA1516  2023-04-05    Edinburgh                96  Cancelled
12        BA1526  2023-04-05    Edinburgh                97  Cancelled
13        BA1538  2023-04-05     Toulouse                98  Cancelled
14        BA2000  2023-04-05       Lisbon               159  Cancelled
15        BA2002  2023-04-05       Lisbon               180  Cancelled
16        BA1401  2023-04-05       Bergen                54  Cancelled
17        BA1743  2023-04-05      Glasgow               113  Cancelled
18        BA1748  2023-04-05      Glasgow                94  Cancelled
19        BA1752  2023-04-05   Humberside                50  Cancelled
20        BA1762  2023-04-05   Humberside                62  Cancelled
21        BA1771  2023-04-05     Valencia                97  Cancelled
22        BA1774  2023-04-05     Valencia                93  Cancelled
23        BA2338  2023-04-05     Budapest               138  Cancelled
24        BA2342  2023-04-05        Basel                74  Cancelled
25        BA2349  2023-04-05        Basel                81  Cancelled
26        BA2354  2023-04-05       Krakow                99  Cancelled
27        BA2359  2023-04-05       Krakow                97  Cancelled
28        BA1705  2023-04-05     Aberdeen                69  Cancelled
29         BA505  2023-04-05        Dubai               326  Cancelled
30         BA948  2023-04-05      Bangkok               191  Cancelled
31        BA2005  2023-04-05       Madrid                71  Cancelled
32         BA894  2023-04-05  Panama City               277  Cancelled
33         BA886  2023-04-05       Kigali                65  Cancelled
34        BA1738  2023-04-05      Glasgow               130  Cancelled
35        BA1401  2023-04-05      Chicago                98  Cancelled
36         BA935  2023-04-05    Sao Paulo               373  Cancelled
37         BA543  2023-04-05  Kuwait City               163  Cancelled
38         BA499  2023-04-05       Riyadh                77  Cancelled
39        BA1379  2023-04-05     Helsinki               135  Cancelled
40         BA905  2023-04-05   Oranjestad               122  Cancelled
41         BA891  2023-04-05        Quito               188  Cancelled
42        BA2007  2023-04-05       Madrid               174  Cancelled

### List the flights that arrive in Madrid or Aberdeen

In [16]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
	*
FROM
	ba_flights_excerpt
WHERE
	arrival_city IN ('Madrid', 'Aberdeen')
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

,flight_id,flight_number,actual_flight_date,airline,status,departure_city,arrival_city,total_fuel_consumption,total_passengers,baggage_weight,bike_bags,revenue_from_baggage,distance_flown
0,AAAA18,BA1700,2023-04-05,BA,Cancelled,London,Aberdeen,2222,23,414,160,10300,703
1,AAAA22,BA1707,2023-04-05,BA,Cancelled,London,Aberdeen,3425,85,1530,600,38500,703
2,AAAA24,BA1712,2023-04-05,BA,Cancelled,London,Aberdeen,2698,84,1512,600,38353,703
3,AAAA20,BA1705,2023-04-05,BA,Cancelled,London,Aberdeen,2772,69,1242,480,30854,703
4,AAAA58,BA2005,2023-04-05,BA,Cancelled,London,Madrid,4847,71,1278,520,33112,1460
5,AAAA60,BA2007,2023-04-05,BA,Cancelled,London,Madrid,5373,174,3132,1240,79313,1460

### Return a list of flights with more than 50 passengers

In [17]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
	departure_city
  , arrival_city
  , total_passengers
  , status
FROM
	ba_flights_excerpt
WHERE
	total_passengers > 50
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

   departure_city arrival_city  total_passengers     status
0          London     Tel Aviv               101  Cancelled
1          London     Aberdeen                85  Cancelled
2          London     Aberdeen                84  Cancelled
3          London       Nantes                90  Cancelled
4          London     Helsinki               148  Cancelled
..            ...          ...               ...        ...
73         Krakow       London               120  Scheduled
74         Bergen       London                90  Scheduled
75       Helsinki       London               145  Scheduled
76        Bangkok       London               189  Scheduled
77         Dammam       London                99  Scheduled

[78 rows x 4 columns]

### Return a list of cancelled flights with more than 50 passengers

In [18]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
	flight_number
  , departure_city
  , arrival_city
  , total_passengers
  , status
FROM
	ba_flights_excerpt
WHERE
	status = 'Cancelled'
	AND total_passengers > 50
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

   flight_number departure_city arrival_city  total_passengers     status
0          BA545         London     Tel Aviv               101  Cancelled
1         BA1707         London     Aberdeen                85  Cancelled
2         BA1712         London     Aberdeen                84  Cancelled
3         BA1722         London       Nantes                90  Cancelled
4         BA1377         London     Helsinki               148  Cancelled
5         BA1382         London     Helsinki               107  Cancelled
6         BA1387         London    Trondheim                88  Cancelled
7         BA1394         London    Linkoping                68  Cancelled
8         BA1398         London       Bergen                87  Cancelled
9         BA1516         London    Edinburgh                96  Cancelled
10        BA1526         London    Edinburgh                97  Cancelled
11        BA1538         London     Toulouse                98  Cancelled
12        BA2000         London       Lisbon               159  Cancelled
13        BA2002         London       Lisbon               180  Cancelled
14        BA1401         London       Bergen                54  Cancelled
15        BA1743         London      Glasgow               113  Cancelled
16        BA1748         London      Glasgow                94  Cancelled
17        BA1762         London   Humberside                62  Cancelled
18        BA1771         London     Valencia                97  Cancelled
19        BA1774         London     Valencia                93  Cancelled
20        BA2338         London     Budapest               138  Cancelled
21        BA2342         London        Basel                74  Cancelled
22        BA2349         London        Basel                81  Cancelled
23        BA2354         London       Krakow                99  Cancelled
24        BA2359         London       Krakow                97  Cancelled
25        BA1705         London     Aberdeen                69  Cancelled
26         BA505         London        Dubai               326  Cancelled
27         BA948         London      Bangkok               191  Cancelled
28        BA2005         London       Madrid                71  Cancelled
29         BA894         London  Panama City               277  Cancelled
30         BA886         London       Kigali                65  Cancelled
31        BA1738         London      Glasgow               130  Cancelled
32        BA1401         London      Chicago                98  Cancelled
33         BA935         London    Sao Paulo               373  Cancelled
34         BA543         London  Kuwait City               163  Cancelled
35         BA499         London       Riyadh                77  Cancelled
36        BA1379         London     Helsinki               135  Cancelled
37         BA905         London   Oranjestad               122  Cancelled
38         BA891         London        Quito               188  Cancelled
39        BA2007         London       Madrid               174  Cancelled

### Identify flights without passengers or flights that did not travel any distance

In [19]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
	flight_number
  , departure_city
  , arrival_city
  , total_passengers
  , distance_flown
  , status
FROM
	ba_flights_excerpt
WHERE
	total_passengers = 0
  OR distance_flown = 0
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

,flight_number,departure_city,arrival_city,total_passengers,distance_flown,status
0,BA499,Riyadh,Dammam,0,352,Scheduled
1,BA608,Dar es Salaam,London,0,0,Scheduled
2,BA631,Zanzibar,Dar es Salaam,0,0,Scheduled
3,BA1444,Guayaquil,London,0,0,Scheduled
4,BA1371,Bridgetown,Port of Spain,0,0,Scheduled
5,BA893,Quito,Guayaquil,0,282,Scheduled
6,BA907,Oranjestad,Kralendijk,0,193,Scheduled
7,BA922,Kralendijk,London,0,0,Scheduled
8,BA933,Port of Spain,London,0,0,Scheduled
9,BA949,Bangkok,Manila,0,2187,Scheduled
10,BA955,Manila,Bangkok,0,2187,Scheduled
11,BA631,Kuala Lumpur,Jakarta,0,0,Scheduled
12,BA721,Kigali,Kampala,0,339,Scheduled

### List all cancelled flights to Aberdeen

In [20]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
	flight_number
  , departure_city
  , arrival_city
  , total_passengers
  , distance_flown
  , status
FROM
	ba_flights_excerpt
WHERE
	arrival_city = 'Aberdeen'
  AND status = 'Cancelled'
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

,flight_number,departure_city,arrival_city,total_passengers,distance_flown,status
0,BA1700,London,Aberdeen,23,703,Cancelled
1,BA1707,London,Aberdeen,85,703,Cancelled
2,BA1712,London,Aberdeen,84,703,Cancelled
3,BA1705,London,Aberdeen,69,703,Cancelled

### List all cancelled flights with more than 50 passengers that fly to Aberdeen or Madrid

In [21]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
	flight_number
  , departure_city
  , arrival_city
  , total_passengers
  , distance_flown
  , status
FROM
	ba_flights_excerpt
WHERE
	status = 'Cancelled'
  AND (total_passengers > 50
       OR arrival_city IN ('Aberdeen', 'Madrid'))
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

,flight_number,departure_city,arrival_city,total_passengers,distance_flown,status
0,BA545,London,Tel Aviv,101,3311,Cancelled
1,BA1700,London,Aberdeen,23,703,Cancelled
2,BA1707,London,Aberdeen,85,703,Cancelled
3,BA1712,London,Aberdeen,84,703,Cancelled
4,BA1722,London,Nantes,90,732,Cancelled
5,BA1377,London,Helsinki,148,1521,Cancelled
6,BA1382,London,Helsinki,107,1521,Cancelled
7,BA1387,London,Trondheim,88,1289,Cancelled
8,BA1394,London,Linkoping,68,957,Cancelled
9,BA1398,London,Bergen,87,888,Cancelled
10,BA1516,London,Edinburgh,96,665,Cancelled
11,BA1526,London,Edinburgh,97,665,Cancelled
12,BA1538,London,Toulouse,98,997,Cancelled
13,BA2000,London,Lisbon,159,1846,Cancelled
14,BA2002,London,Lisbon,180,1846,Cancelled
15,BA1401,London,Bergen,54,888,Cancelled
16,BA1743,London,Glasgow,113,717,Cancelled
17,BA1748,London,Glasgow,94,717,Cancelled
18,BA1762,London,Humberside,62,370,Cancelled
19,BA1771,London,Valencia,97,1481,Cancelled
20,BA1774,London,Valencia,93,1481,Cancelled
21,BA2338,London,Budapest,138,1166,Cancelled
22,BA2342,London,Basel,74,560,Cancelled
23,BA2349,London,Basel,81,560,Cancelled
24,BA2354,London,Krakow,99,1073,Cancelled
25,BA2359,London,Krakow,97,1073,Cancelled
26,BA1705,London,Aberdeen,69,703,Cancelled
27,BA505,London,Dubai,326,5168,Cancelled
28,BA948,London,Bangkok,191,9207,Cancelled
29,BA2005,London,Madrid,71,1460,Cancelled
30,BA894,London,Panama City,277,8812,Cancelled
31,BA886,London,Kigali,65,6486,Cancelled
32,BA1738,London,Glasgow,130,717,Cancelled
33,BA1401,London,Chicago,98,6612,Cancelled
34,BA935,London,Sao Paulo,373,9775,Cancelled
35,BA543,London,Kuwait City,163,4355,Cancelled
36,BA499,London,Riyadh,77,4639,Cancelled
37,BA1379,London,Helsinki,135,1521,Cancelled
38,BA905,London,Oranjestad,122,7878,Cancelled
39,BA891,London,Quito,188,9551,Cancelled
40,BA2007,London,Madrid,174,1460,Cancelled