<a href="https://colab.research.google.com/github/krauseannelize/nb-sql-ms-exercises/blob/main/notebooks/12_unions_except_intersect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 12 | UNION, EXCEPT & INTERSECT

## Data Preparation

### Installing and importing packages

In [25]:
import pandas as pd
import sqlalchemy as sa

### Making a connection

In [26]:
chinook_url = "postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/chinook?sslmode=require"

# Making a connection with SQLAlchemy in 2 steps:
# 1. Create an engine
# 2. Make a connection

engine = sa.create_engine(chinook_url)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

## Database Schema

The Chinook database schema is as follows:

![db-schema-chinook.png]()

## Masterschool Exercises

### Give a list of the 5 shortest and 5 longest tracks

In [27]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
-- list 5 shortest tracks
(SELECT
 	track.name
 , milliseconds/1000 AS seconds
FROM
	track
ORDER BY
	milliseconds
LIMIT 5)

UNION

-- list 5 longest tracks
(SELECT
 	track.name
 , milliseconds/1000 AS seconds
FROM
	track
ORDER BY
	milliseconds DESC
LIMIT 5)

ORDER BY
	seconds
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

                          name  seconds
0     É Uma Partida De Futebol        1
1                   Now Sports        4
2                        Oprah        6
3                  A Statistic        6
4                 Commercial 1        7
5      The Man With Nine Lives     2956
6  Battlestar Galactica, Pt. 2     2956
7  Greetings from Earth, Pt. 1     2960
8      Through a Looking Glass     5088
9       Occupation / Precipice     5286

### Show the 5 shortest rock songs and the 5 shortest classical songs in one table

In [28]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
-- list 5 shortest rock songs
(SELECT
	t.name AS song
  , g.name AS song_genre
  , t.milliseconds/1000 AS seconds
FROM
	track t
LEFT JOIN
	genre g
ON
	t.genre_id = g.genre_id
WHERE
	g.name = 'Rock'
ORDER BY
  seconds
LIMIT 5)

UNION

-- list 5 shortest classical songs
(SELECT
	t.name AS song
  , g.name AS song_genre
  , t.milliseconds/1000 AS seconds
FROM
	track t
LEFT JOIN
	genre g
ON
	t.genre_id = g.genre_id
WHERE
	g.name = 'Classical'
ORDER BY
  seconds
LIMIT 5)

ORDER BY
	song_genre
  , seconds
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

                                                song song_genre  seconds
0    Étude 1, In C Major - Preludio (Presto) - Liszt  Classical       51
1               L'orfeo, Act 3, Sinfonia (Orchestra)  Classical       66
2  Lamentations of Jeremiah, First Set \ Incipit ...  Classical       69
3       SCRIABIN: Prelude in B Major, Op. 11, No. 11  Classical      101
4  Concert pour 4 Parties de V**les, H. 545: I. P...  Classical      110
5                           É Uma Partida De Futebol       Rock        1
6                              Freedom For My People       Rock       38
7                             Little Guitars (Intro)       Rock       42
8                           The Star Spangled Banner       Rock       43
9                                              Intro       Rock       49

### Show example albums of the bands U2, AC/DC and Aerosmith (one each) in one table

In [29]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
-- list example album of U2
(SELECT
 	al.album_id
 , al.title
 , ar.name
FROM
 	artist ar
JOIN
 	album al
ON
	ar.artist_id = al.artist_id
WHERE
 	ar.name = 'U2'
LIMIT 1)

UNION

-- list example album of AC/DC
(SELECT
 	al.album_id
 , al.title
 , ar.name
FROM
 	artist ar
JOIN
 	album al
ON
	ar.artist_id = al.artist_id
WHERE
 	ar.name = 'AC/DC'
LIMIT 1)

UNION

-- list example album of Aerosmith
(SELECT
 	al.album_id
 , al.title
 , ar.name
FROM
 	artist ar
JOIN
 	album al
ON
	ar.artist_id = al.artist_id
WHERE
 	ar.name = 'Aerosmith'
LIMIT 1)
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

   album_id                                  title       name
0       232                           Achtung Baby         U2
1         5                               Big Ones  Aerosmith
2         1  For Those About To Rock We Salute You      AC/DC

### Show the 3 newest and the 3 youngest employees in one table

In [30]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
-- show 3 newest employees
(SELECT
  *
FROM
  employee
ORDER BY
  hire_date DESC
LIMIT 3)

UNION -- Using UNION ALL stacks rows, employees can appear twice

-- show 3 youngest employees
(SELECT
  *
FROM
  employee
ORDER BY
  birth_date DESC
LIMIT 3)

ORDER BY
	birth_date DESC
  , hire_date DESC
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

,employee_id,last_name,first_name,title,reports_to,birth_date,hire_date,address,city,state,country,postal_code,phone,fax,email
0,3,Peacock,Jane,Sales Support Agent,2,1973-08-29,2002-04-01,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
1,6,Mitchell,Michael,IT Manager,1,1973-07-01,2003-10-17,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
2,7,King,Robert,IT Staff,6,1970-05-29,2004-01-02,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
3,8,Callahan,Laura,IT Staff,6,1968-01-09,2004-03-04,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

### Use EXCEPT to show employees that are young, but not new

In [31]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
-- show 3 youngest employees
(SELECT
  *
FROM
  employee
ORDER BY
  birth_date DESC
LIMIT 3)

EXCEPT

-- exclude 3 newest employees
(SELECT
  *
FROM
  employee
ORDER BY
  hire_date DESC
LIMIT 3)
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

,employee_id,last_name,first_name,title,reports_to,birth_date,hire_date,address,city,state,country,postal_code,phone,fax,email
0,3,Peacock,Jane,Sales Support Agent,2,1973-08-29,2002-04-01,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com

Use INTERSECT to show employees that are young and new at the same time

In [32]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
-- show 3 youngest employees
(SELECT
  *
FROM
  employee
ORDER BY
  birth_date DESC
LIMIT 3)

INTERSECT

-- show 3 newest employees
(SELECT
  *
FROM
  employee
ORDER BY
  hire_date DESC
LIMIT 3)
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

,employee_id,last_name,first_name,title,reports_to,birth_date,hire_date,address,city,state,country,postal_code,phone,fax,email
0,7,King,Robert,IT Staff,6,1970-05-29,2004-01-02,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
1,6,Mitchell,Michael,IT Manager,1,1973-07-01,2003-10-17,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com

Use an EXCLUSIVE UNION to show young employees that are not new and new employees that are not young

In [33]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
-- show 3 youngest employees and exclude 3 newest employees
((SELECT
  *
FROM
  employee
ORDER BY
  birth_date DESC
LIMIT 3)

EXCEPT

(SELECT
  *
FROM
  employee
ORDER BY
  hire_date DESC
LIMIT 3))

UNION

-- show 3 newest employees and exclude 3 youngest employees
((SELECT
  *
FROM
  employee
ORDER BY
  hire_date DESC
LIMIT 3)

EXCEPT

(SELECT
  *
FROM
  employee
ORDER BY
  birth_date DESC
LIMIT 3))
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

,employee_id,last_name,first_name,title,reports_to,birth_date,hire_date,address,city,state,country,postal_code,phone,fax,email
0,8,Callahan,Laura,IT Staff,6,1968-01-09,2004-03-04,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com
1,3,Peacock,Jane,Sales Support Agent,2,1973-08-29,2002-04-01,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com

### List track names and the titles of the albums they belong to

In [34]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
	t.name AS song
  , al.title AS album
FROM
	track t
JOIN
	album al
ON
	t.album_id = al.album_id
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

,song,album
0,For Those About To Rock (We Salute You),For Those About To Rock We Salute You
1,Balls to the Wall,Balls to the Wall
2,Fast As a Shark,Restless and Wild
3,Restless and Wild,Restless and Wild
4,Princess of the Dawn,Restless and Wild
...,...,...
3498,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,Respighi:Pines of Rome
3499,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",Schubert: The Late String Quartets & String Qu...
3500,"L'orfeo, Act 3, Sinfonia (Orchestra)",Monteverdi: L'Orfeo
3501,"Quintet for Horn, Violin, 2 Violas, and Cello ...",Mozart: Chamber Music
3502,Koyaanisqatsi,Koyaanisqatsi (Soundtrack from the Motion Pict...

### List all album titles, and the names of their tracks (if available)

In [35]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
	al.title AS album,
  t.name AS song
FROM
	album al
LEFT JOIN
	track t
ON
	al.album_id = t.album_id
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

,album,song
0,For Those About To Rock We Salute You,For Those About To Rock (We Salute You)
1,Balls to the Wall,Balls to the Wall
2,Restless and Wild,Fast As a Shark
3,Restless and Wild,Restless and Wild
4,Restless and Wild,Princess of the Dawn
...,...,...
3498,Respighi:Pines of Rome,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...
3499,Schubert: The Late String Quartets & String Qu...,"String Quartet No. 12 in C Minor, D. 703 ""Quar..."
3500,Monteverdi: L'Orfeo,"L'orfeo, Act 3, Sinfonia (Orchestra)"
3501,Mozart: Chamber Music,"Quintet for Horn, Violin, 2 Violas, and Cello ..."
3502,Koyaanisqatsi (Soundtrack from the Motion Pict...,Koyaanisqatsi

### List all invoices and the name of the customer who placed them, even if the customer is missing (data integrity test).

In [36]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
	i.invoice_id
  , COALESCE(c.first_name || ' ' || c.last_name, 'Unknown') AS customer
FROM
	invoice i
LEFT JOIN
	customer c
ON
	i.customer_id = c.customer_id
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

     invoice_id          customer
0             1     Leonie Köhler
1             2      Bjørn Hansen
2             3      Daan Peeters
3             4      Mark Philips
4             5       John Gordon
..          ...               ...
407         408    Victor Stevens
408         409      Robert Brown
409         410  Madalena Sampaio
410         411  Terhi Hämäläinen
411         412      Manoj Pareek

[412 rows x 2 columns]

### Show all album titles and artist names, even if a match is missing on either side

In [37]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
	al.title AS album,
  ar.name AS artist
FROM
	album al
FULL OUTER JOIN
	artist ar
ON
	al.artist_id = ar.artist_id
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

                                     album                              artist
0    For Those About To Rock We Salute You                               AC/DC
1                        Balls to the Wall                              Accept
2                        Restless and Wild                              Accept
3                        Let There Be Rock                               AC/DC
4                                 Big Ones                           Aerosmith
..                                     ...                                 ...
413                                   None               Pedro Luís & A Parede
414                                   None                           Matisyahu
415                                   None                     Mundo Livre S/A
416                                   None  Santana Feat. Lauryn Hill & Cee-Lo
417                                   None    Gustavo & Andres Veiga & Salazar

[418 rows x 2 columns]

### Get a list of all unique first names from both customers and employees

In [38]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
(SELECT DISTINCT
  first_name
FROM
  customer)

UNION

(SELECT DISTINCT
  first_name
FROM
  employee)
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

   first_name
0      Victor
1      Edward
2      Niklas
3      Joakim
4    Jennifer
..        ...
58       Phil
59   Johannes
60       Luis
61    Richard
62     Andrew

[63 rows x 1 columns]

### List all countries represented in customers and employees, including duplicates

In [39]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
(SELECT
  country
 FROM
  customer)

 UNION ALL

 (SELECT
  country
 FROM
  employee)
 ;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

           country
0           Brazil
1          Germany
2           Canada
3           Norway
4   Czech Republic
..             ...
62          Canada
63          Canada
64          Canada
65          Canada
66          Canada

[67 rows x 1 columns]

### List every combination of customer and employee names (as if for a pairing or outreach campaign)

In [40]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
	c.first_name || ' ' || c.last_name AS customer
  , e.first_name || ' ' || e.last_name AS employee
FROM
	customer c
CROSS JOIN
	employee e
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

            customer          employee
0     Luís Gonçalves      Andrew Adams
1     Luís Gonçalves     Nancy Edwards
2     Luís Gonçalves      Jane Peacock
3     Luís Gonçalves     Margaret Park
4     Luís Gonçalves     Steve Johnson
..               ...               ...
467  Puja Srivastava     Margaret Park
468  Puja Srivastava     Steve Johnson
469  Puja Srivastava  Michael Mitchell
470  Puja Srivastava       Robert King
471  Puja Srivastava    Laura Callahan

[472 rows x 2 columns]

### List all cities from both customers and employees. If a city exists in only one table, still show it.

In [41]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
    COALESCE(c.city, e.city) AS city
    , CASE
        WHEN c.city IS NOT NULL AND e.city IS NOT NULL THEN 'Both'
        WHEN c.city IS NOT NULL THEN 'Customer Only'
        WHEN e.city IS NOT NULL THEN 'Employee Only'
    END AS source
    , c.first_name || ' ' || c.last_name AS customer
    , e.first_name || ' ' || e.last_name AS employee
FROM
	customer c
FULL OUTER JOIN
	employee e
ON
	c.city = e.city
ORDER BY city
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

           city         source               customer employee
0     Amsterdam  Customer Only  Johannes Van der Berg     None
1     Bangalore  Customer Only        Puja Srivastava     None
2        Berlin  Customer Only        Niklas Schröder     None
3        Berlin  Customer Only       Hannah Schneider     None
4      Bordeaux  Customer Only           Wyatt Girard     None
..          ...            ...                    ...      ...
61    Vancouver  Customer Only      Jennifer Peterson     None
62       Vienne  Customer Only          Astrid Gruber     None
63       Warsaw  Customer Only       Stanisław Wójcik     None
64     Winnipeg  Customer Only         Aaron Mitchell     None
65  Yellowknife  Customer Only         Ellie Sullivan     None

[66 rows x 4 columns]