<a href="https://colab.research.google.com/github/krauseannelize/nb-sql-ms-exercises/blob/main/notebooks/17_challenge_british_airways_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 17 | Challenge - British Airways III

## Data Preparation

### Installing and importing packages

In [1]:
import pandas as pd
import sqlalchemy as sa

### Making a connection

In [2]:
ba_url = "postgresql://Student1:3qHbUNF6KCDP@ep-noisy-flower-846766.us-east-2.aws.neon.tech/BA?sslmode=require"

# Making a connection with SQLAlchemy in 2 steps:
# 1. Create an engine
# 2. Make a connection

engine = sa.create_engine(ba_url)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

## Database Schema

The British Airways database schema is as follows:

![db-schema-ba-excerpt.png]()

## Masterschool Exercises

### 1. Select the flight number, flight date, departure city, and arrival city for flights that leave after May 1, 2023

In [3]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
  flight_number
  , actual_flight_date
  , departure_city
  , arrival_city
FROM
  ba_flights_excerpt
WHERE
  actual_flight_date > '2023-05-01'
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

   flight_number actual_flight_date departure_city arrival_city
0          BA499         2023-05-07         Riyadh       Dammam
1         BA1374         2023-05-07       Helsinki       London
2         BA1395         2023-05-20     Link√∂ping       London
3         BA1534         2023-05-07       Toulouse       London
4         BA2006         2023-05-07         Madrid       London
5         BA1744         2023-05-07        Glasgow       London
6         BA1775         2023-05-20       Valencia       London
7         BA2355         2023-05-20         Krakow       London
8          BA542         2023-05-07          Dubai       London
9         BA1397         2023-05-20         Bergen       London
10         BA504         2023-05-20         Dammam       London

### 2. Select the flight IDs, number of bike bags, and baggage weight for flights that have a baggage revenue above £50,000

In [4]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
  flight_id
  , bike_bags
  , baggage_weight
FROM
  ba_flights_excerpt
WHERE
  revenue_from_baggage > 50000
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

   flight_id  bike_bags  baggage_weight
0     AAAA34       1080            2664
1     AAAA54       1160            2862
2     AAAA56       1280            3240
3     AAAA82        800            2034
4     AAAA92       1000            2484
5     AAAA05       2360            5868
6     AAAA72       1360            3438
7     AAAA64       2000            4986
8     AAAA30        920            2340
9     AAAA78        720            1764
10    AAAA70       2680            6714
11    AAAA08       1160            2934
12    AAAA36        960            2430
13    AAAA66        880            2196
14    AAAA62       1360            3384
15    AAAA60       1240            3132

### 3. Select all the columns for flights that are cancelled and either depart from or arrive at Panama City

In [5]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
  *
FROM
  ba_flights_excerpt
WHERE
  status = 'Cancelled'
  AND (departure_city = 'Panama City'
  OR arrival_city = 'Panama City')
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

,flight_id,flight_number,actual_flight_date,airline,status,departure_city,arrival_city,total_fuel_consumption,total_passengers,baggage_weight,bike_bags,revenue_from_baggage,distance_flown
0,AAAA64,BA894,2023-04-05,BA,Cancelled,London,Panama City,53799,277,4986,2000,129263,8812

### 4. Select the flight IDs and fuel consumption for flights that either have a baggage weight below 3000 or less than 200 passengers on the flight

In [6]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
  flight_id
  , total_fuel_consumption
FROM
  ba_flights_excerpt
WHERE
  baggage_weight < 3000
  OR total_passengers < 200
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

   flight_id  total_fuel_consumption
0     AAAA11                    9654
1     AAAA18                    2222
2     AAAA22                    3425
3     AAAA24                    2698
4     AAAA26                    2453
..       ...                     ...
89    AAAA97                    3212
90    AAAA44                    3355
91    AAAA35                    5255
92    AAAA74                   91999
93    AAAA04                   36358

[94 rows x 2 columns]

### 5. Can you identify all columns of the flights that are scheduled to leave between April 15 and May 15 2023, and fly a distance less than 1000km?

In [7]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT
  *
FROM
  ba_flights_excerpt
WHERE
  status = 'Scheduled'
  AND actual_flight_date BETWEEN '2023-04-15' AND '2023-05-15'
  AND distance_flown < 1000
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

,flight_id,flight_number,actual_flight_date,airline,status,departure_city,arrival_city,total_fuel_consumption,total_passengers,baggage_weight,bike_bags,revenue_from_baggage,distance_flown
0,AAAA03,BA499,2023-05-07,BA,Scheduled,Riyadh,Dammam,3760,0,0,0,0,352
1,AAAA25,BA1716,2023-04-28,BA,Scheduled,Nantes,London,2715,100,1800,18,10900,732
2,AAAA29,BA1730,2023-04-28,BA,Scheduled,Aarhus,London,1676,35,630,6,3800,583
3,AAAA41,BA1390,2023-04-28,BA,Scheduled,Link√∂ping,London,2616,77,1386,14,8400,957
4,AAAA51,BA1534,2023-05-07,BA,Scheduled,Toulouse,London,3486,87,1566,16,9453,997
5,AAAA83,BA1744,2023-05-07,BA,Scheduled,Glasgow,London,1868,54,972,10,5900,717

### 6. Can you select the unique flight numbers and arrival cities of flights that either have more than 0 passengers or more than 0kg baggage weight on board or that have flown more than 0km in distance for flights that depart from London

In [8]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT DISTINCT
  flight_number
  , arrival_city
FROM
  ba_flights_excerpt
WHERE
  (total_passengers > 0
  OR baggage_weight > 0
  OR distance_flown > 0)
  AND departure_city = 'London'
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

   flight_number arrival_city
0         BA1705     Aberdeen
1         BA2000       Lisbon
2         BA2349        Basel
3          BA543  Kuwait City
4         BA1743      Glasgow
5          BA894  Panama City
6         BA1398       Bergen
7         BA1387    Trondheim
8          BA499       Riyadh
9         BA2342        Basel
10        BA1700     Aberdeen
11        BA2005       Madrid
12         BA948      Bangkok
13        BA1752   Humberside
14        BA1712     Aberdeen
15        BA1738      Glasgow
16        BA1526    Edinburgh
17        BA1748      Glasgow
18         BA505        Dubai
19        BA1516    Edinburgh
20        BA1729       Aarhus
21         BA905   Oranjestad
22        BA1401      Chicago
23        BA2338     Budapest
24        BA1377     Helsinki
25        BA2007       Madrid
26        BA1379     Helsinki
27        BA1771     Valencia
28        BA2359       Krakow
29        BA1722       Nantes
30        BA1538     Toulouse
31         BA891        Quito
32        BA1394    Linkoping
33         BA886       Kigali
34        BA1382     Helsinki
35        BA1401       Bergen
36         BA545     Tel Aviv
37        BA1762   Humberside
38         BA935    Sao Paulo
39        BA2354       Krakow
40        BA2002       Lisbon
41        BA1707     Aberdeen
42        BA1774     Valencia

### 7. Imagine you are looking for unique departure cities with the text “City” but unsure which cities include it. How do you pull the unique cities that include the text “City”?

In [9]:
# Create an SQLAlchemy TextClause object from the raw SQL query
query = """
SELECT DISTINCT
  departure_city
FROM
  ba_flights_excerpt
WHERE
  departure_city ILIKE '%City%'
;
"""

# Execute the SQL query and load the result into a Pandas DataFrame
pd.read_sql(sa.text(query),connection)

  departure_city
0    Kuwait City
1    Panama City